body {
  font-family: monospace;
}

/* ------- Header ------- falls scrolling dann button auch zum weiterscrollen */

  




#AktuelleEvents{
  width: auto;
  margin: auto;
    flex: 1;
    display: flex;
    overflow: auto;
  align-items:baseline;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}


.p{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  min-width: 400px; 
  min-height: 400px;

  padding: auto;
  margin: 10px;
  text-overflow: ellipsis;
}

#VergangeneEvents {
  width: auto;
  padding-top: 50px;
  margin: 10px;
    flex: 1;
    display: flex;
    overflow: auto;
  align-items:baseline;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  
  
}

img {
  width: 200px;
  height: 200px;
  border-radius: 2%;
  object-fit: cover;
  margin: 20px;


}

.Kunstwerk {
   font-size: 25px;
  
}

.name {
  background-color: #d2d8ff;
}

.VeranstaltungsBeschreibung {
  color: #c4db9b;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;

}

summary {
  text-align: center;
  padding: 5px;
}

details {
  text-align:justify
}

img {
  width: 275px;
  height: 275px;
  border-radius: 1%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* ------- Header ------- */

body {
  font-size: 18px;
  line-height: 1.4;
  color: var(--textcolor);
  background: var(--bgcolor);
  position: relative;
  margin: 0 auto; /* centers the layout */
}



/* ------- Header ------- */

header {
  padding: 5vw 5vw 1vw 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  z-index: 66;
  background-color: #e158ba;
}

header h1 {
  font-size: 1em;
  flex: 1; /* pushes nav to the right */
  white-space: nowrap;
  padding: 0 5vw 0.5em 0;
}


/* ------- Scrollbar ------- */

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d7d7d7;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0034ff; 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2996ff; 
}